#!/usr/bin/make -f
PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@

override_dh_install:
	mkdir -p debian/php-phpdocumentor-filesystem/usr/share/php/phpDocumentor/FileSystem
	cp -r src/. debian/php-phpdocumentor-filesystem/usr/share/php/phpDocumentor/FileSystem/
	install -m 644 debian/autoload.php debian/php-phpdocumentor-filesystem/usr/share/php/phpDocumentor/FileSystem/autoload.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" debian/php-phpdocumentor-filesystem/usr/share/php/phpDocumentor/FileSystem/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|" debian/php-phpdocumentor-filesystem/usr/share/php/phpDocumentor/FileSystem/autoload.php
